body{
	background-color: #f4f6ff;
	text-align: center;
/*	color: #31326f; */
	margin: 0px;
	font-family: 'Merriweather', serif;
}

div{
}

h1{
	margin: 50px auto 0;
	font-family: 'Sacramento', cursive;
	font-size: 5rem;
	color: #127681;
}

h2{
	color: #127681;
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
}

h3{
	color: #127681;
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
}

hr{
	border-style: dotted none none;
	border-width: 7px;
	border-color: lightgrey;
	width: 5rem;
}

a{
	color: #10375c;
	text-decoration: none;
	margin: 1rem 2rem;
}


.top-cloud{
	position: absolute;
	right: 300px;
	top: 50px;
}

.bottom-cloud{
	position: absolute;
	left: 300px;
	bottom: 300px;
}

.top-container{
/*	background-color: #dbf6e9; */
	background-color: #127681;
	padding-top: 100px;
}

.top-container h1,
.top-container h2,
.top-container h3{
	color: #f3c623;
}

.subtitle{
	font-weight: normal;
}

.middle-container{
	color: #10375c;
	padding-bottom: 15px;
}

.profile{
	margin: 3rem 0 5rem;
}

.skill-row{
	line-height: 2;
	margin: 100px auto;
	width: 50%;
}

.skill-row > img{
	width: 25%;
}

.skill1-img{
	float: left;
	margin-right: 30px;
}

.skill2-img{
	float: right;
	margin-left: 30px;
}

.contact-me{
	margin: 4rem auto;
	width: 50%;
}

.bottom-container{
	background-color: #127681;
	color: #10375c;
	padding: 50px 0 20px;
}

.bottom-container a:hover{
	color: #f3c623;
}

.copyright{
	color: #f4f6ff;
	font-size: 0.75rem;
	margin: 40px 0 20px;
}

.contac-btn {
   background: #127681;
   background-image: -webkit-linear-gradient(top, #127681, #10375C);
   background-image: -moz-linear-gradient(top, #127681, #10375C);
   background-image: -ms-linear-gradient(top, #127681, #10375C);
   background-image: -o-linear-gradient(top, #127681, #10375C);
   background-image: -webkit-gradient(to bottom, #127681, #10375C);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: "Montserrat";
   font-size: 1rem;
   font-weight: 100;
   padding: 1rem;
   margin: 20px auto;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.contac-btn:hover {
   border: solid #FFFFFF 0px;
   background: #10375C;
   background-image: -webkit-linear-gradient(top, #10375C, #127681);
   background-image: -moz-linear-gradient(top, #10375C, #127681);
   background-image: -ms-linear-gradient(top, #10375C, #127681);
   background-image: -o-linear-gradient(top, #10375C, #127681);
   background-image: -webkit-gradient(to bottom, #10375C, #127681);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
